<h1>Edit Profile</h1>

<%= form_for @user, url: profile_path, method: :patch do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <h2>Interests</h2>
  <% @categories.each do |category| %>
    <h3><%= category.name %></h3>
    <% category.interests.each do |interest| %>
      <div>
        <%= check_box_tag 'user[interest_ids][]', interest.id, @user.interest_ids.include?(interest.id) %>
        <%= label_tag "user_interest_ids_#{interest.id}", interest.name %>
      </div>
    <% end %>
  <% end %>

  <%= f.submit 'Save Changes' %>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        fetch("<%= profile_path %>", {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-Token": "<%= form_authenticity_token %>"
          },
          body: JSON.stringify({ user: { latitude: latitude, longitude: longitude } })
        })
        .then(response => response.json())
        .then(data => {
          console.log("Location updated:", data);
        })
        .catch(error => console.error("Error updating location:", error));
      });
    } else {
      alert("Geolocation is not supported by this browser.");
    }
  });
</script>
